<!-- Image and text -->

<nav class="navbar" style="background-color: #000000C9;">
    
    <a class="navbar-brand">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Coat_of_arms_of_Petah-Tiqua.svg/800px-Coat_of_arms_of_Petah-Tiqua.svg.png" width="70" height="70" class="d-inline-block align-top" alt="">
      <a style="color:white ; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Welcome to the municipality of Petah-Tikva</a>
    </a>
    <div class="container">
    <p style="font-family:cursive; color: aliceblue;">Petah Tikva also known as Em HaMoshavot ("Mother of the Moshavot"), is a city in the Central District of Israel, 10.6 km east of Tel Aviv. It was founded in 1878, mainly by Ultra-Orthodox Jews of the Old Yishuv, and became a permanent settlement in 1883 with the financial help of Baron Edmond de Rothschild.

      In 2019, the city had a population of 247,956. Its population density is approximately 6,277 inhabitants per square kilometre. Its jurisdiction covers 35,868 dunams. Petah Tikva is part of the Tel Aviv Metropolitan Area.</p>
    </div>
  </nav>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" style="background-color: #07395DCC; color:aliceblue; border-color: aliceblue; " routerLink="/residents">Residents</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" style="background-color: #07395DCC; color:aliceblue; border-color: aliceblue;  " routerLink="/employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="background-color: #07395DCC; color:aliceblue; border-color: aliceblue; " routerLink="/business">Business</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="img"><router-outlet></router-outlet></div>
      
    </div>
  </div>


  <div class="footer">
    <nav class="navbar navbar-light bg-light">
        <p class="center" style="margin-left:270px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Copyright © 2022 Petha-Tikva Municipality, all rights reserved. This site is maintained by Demi Gelfond. Last modified on 23-06-2022 at 4:17 pm</p> 
        <a >
          <img src="https://static.vecteezy.com/system/resources/previews/004/933/606/original/letters-dg-logo-with-black-and-white-negative-space-design-letters-d-and-g-with-geometric-typography-vector.jpg" width="90" height="70" >
        </a>
      </nav>
  </div>


