.img{
    background-image: url(../assets/PT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {

    bottom:0;
    left:0;
    right:0;
}

.header {
    position: fixed;
    top:0;
    left:0;
    right:0;
}

